:local :root {
  /* 1unit = 0.25rem = 4px */
  --0: 0;
  --1: 0.25rem;
  --2: 0.5rem;
  --3: 0.75rem;
  --4: 1rem;
  --5: 1.25rem;
  --6: 1.5rem;
  --7: 1.75rem;
  --8: 2rem;
  --9: 2.25rem;
  --10: 2.5rem;
  --11: 2.75rem;
  --12: 3rem;
  --14: 3.5rem;
  --16: 4rem;
  --20: 5rem;
  --1\/2: 50%;
  --full: 100%;
  --screen-w: 100vw;
  --screen-h: 100vh;

  /* breakpoint */
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --2xl: 1536px;

  /* theme */
  --white: white;
  --primary: #512051;
  --primary-light: #ee69a4;
  --secondary: #927b91;
  --secondary-light: #f7f2f7;
}

/* === decoration === */
:local :root {
  overflow: auto;
}
:local body {
  position: relative;
  overflow: hidden;
}
.main::before {
  content: "";
  background-image: url("./images/bg-pattern-top-mobile.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: var(--0);
  left: var(--0);
  width: 374px;
  height: 232px;
}
.main::after {
  content: "";
  background-image: url("./images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat;
  position: absolute;
  bottom: var(--0);
  left: var(--1\/2);
  transform: translateX(calc(-1 * var(--1\/2)));
  width: 375px;
  height: 503px;
}

@media (min-width: 768px) {
  .main::before {
    background-image: url("./images/bg-pattern-top-desktop.svg");
    width: 584px;
    height: 362px;
  }
  .main::after {
    background-image: url("./images/bg-pattern-bottom-desktop.svg");
    width: 1085px;
    height: 673px;
    left: auto;
    right: var(--0);
    transform: none;
  }
}

/* === layout === */
.main {
  padding-inline: var(--6);
  padding-block: var(--20);

  display: flex;
  flex-direction: column;
  gap: var(--10);
}

@media (min-width: 768px) {
  :global #root {
    min-height: var(--screen-h);
    display: flex;
  }
  .main {
    max-width: var(--lg);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--4);
}

@media (min-width: 768px) {
  .list.rate > li:nth-child(2) {
    transform: translateX(calc(1 * var(--16)));
  }
  .list.rate > li:nth-child(3) {
    transform: translateX(calc(2 * var(--16)));
  }

  .list.comment {
    flex-direction: row;
    grid-column: 1 / 3;
  }
  .list.comment > li:nth-child(2) {
    transform: translateY(calc(1 * var(--4)));
  }
  .list.comment > li:nth-child(3) {
    transform: translateY(calc(2 * var(--4)));
  }
}

/* === header === */
.title {
  padding-inline: var(--2);
  color: var(--primary);
}

.description {
  line-height: var(--6);
  color: var(--secondary);
}
.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--4);
}

@media (min-width: 640px) {
  .header {
    text-align: start;
  }
  .title {
    font-size: var(--12);
  }
}
